:global(div) {
        background-color: brown;
    }

:root {
--main-bg-color: rgb(75, 88, 78);
--global-grid-label-min-width : 2rem;
--global-grid-label-column-size : 9rem;
--global-grid-value-column-size : 15rem;
--global-value-min-width : 6rem;
--global-box-height : 40px;
--global-margin : 5px;
--global-grid-column-gap : 0;
--global-grid-row-gap : 0.5rem; /* not used */
--global-control-bottom-margin: 0.5rem;
--global-block-height : 2.2rem;
--global-block-height-borded :calc(var(--global-block-height) - 2 * var(--global-margin));
--global-label-control-gap : 10px;

--label-justify: end;
--label-align: center;
--global-border-raduis : 2px;
--global-border-width : 1px;
--global-min-width : 2rem;

--missing-asset-color: red;

--global-body-padding-right: 1.5rem;
--global-body-padding-left: 1rem;
--global-image-radius : 2px;

--z-level-info : 200;
--z-level-waiting : 300;
}


body {
    padding: 0 ;
    /* padding-left : 0; */
    overflow-x: hidden;
            /* width: 100vw; */

}

vscode-dropdown::part(listbox) {
    top: calc(100%);
}

vscode-dropdown::part(control) {
    border-radius: var(--global-border-raduis);
}

vscode-option {
    /* height: var(--global-block-height); */
    height: calc(var(--global-block-height) - 2 * var(--global-margin));

}


vscode-option::part(content) {
    display: flex;
    align-items: center;
    width: 100%;
}

vscode-button::part(content) {
    justify-content: center;
    min-width: 0;
}

vscode-button::part(control) {
    overflow: hidden;
}
