.vscode/**
.vscode-test/**
src/**
webview-ui/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
gen_package_json_util.js
l10n/update-missing-locale.mjs
parseLocale.mjs
tsconfig.tsbuildinfo
experiments
node_modules/**
rollup.config.mjs
rollup.extension.mjs
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf