.vscode/**
.vscode-test/**
src/**
webview-ui/**
.gitignore
**/tsconfig.json
**/*.map
**/*.ts
l10n/*.mjs
node_modules/**
rollup.config.mjs
rollup.extension.mjs
generateIgnoreFiles.sh
ramdisk_scripts
vsix-packages
experiments
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf