:global(div) {
        background-color: brown;
    }

:root {
--main-bg-color: rgb(75, 88, 78);
--project-manager-grid-label-column-size : 9rem;
--project-manager-grid-value-column-size : 15rem;

--global-box-height : 40px;
--global-margin : 5px;
--global-grid-column-gap : 0.5rem;
--global-grid-row-gap : 0.5rem;
--global-block-height : 2rem;


--label-justify: end;
--global-border-raduis : 2px;
--global-border-width : 1px;
}