:global(div) {
        background-color: brown;
    }

:root {
--main-bg-color: rgb(75, 88, 78);
--global-grid-label-min-width : 2rem;
--global-grid-label-column-size : 9rem;
--global-grid-value-column-size : 15rem;
--global-value-min-width : 6rem;
--global-box-height : 40px;
--global-margin : 5px;
--global-grid-column-gap : 0;
--global-grid-row-gap : 0.5rem;
--global-block-height : 1.5rem;
--global-label-control-gap : 10px;

--label-justify: end;
--global-border-raduis : 2px;
--global-border-width : 1px;
--global-min-width : 2rem;

--missing-asset-color: red;

--global-body-padding-right: 1rem;
--global-body-padding-left: 1rem;
--global-image-radius : 2px;

}


body {
    padding: 0 ;
    /* padding-left : 0; */
    overflow-x: hidden;
            /* width: 100vw; */

}

